@charset "UTF-8";

@media screen and (min-width: 400px) and (max-width: 762px) {
    main{
        width: 470px;
    }
    
}
@media screen and (min-width: 762px) and (max-width: 995px) {
    main{
        width: 600px;
    }  
}
@media screen and (min-width: 995px) and (max-width: 1200px) {
    main{
        width: 700px;
    }
}
@media screen and (min-width: 1200px) {
    main{
        width: 800px;
    }
    
}
